@use '../../styles/colors.module' as *;
@use '../../styles/breakpoints.module' as *;

.close svg{
        color: $accent-primary;
        font-size: 3rem;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .title{
        font-family: 'Inter';
        font-size: 2rem;
        font-weight: 600;
        color: $text--light;
    }

    .container{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 0.875rem;
        gap: 1rem;

        .clear{
            background-color: $background-element;
            color: $text--light;
            border: 0;
            border-radius: 5px;
            padding: 1em 2em;
            // font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 50ms ease-in-out;

            &:hover,:focus{
                background-color: lighten($color: $background-element, $amount: 10);
            }

            &:active{
                transform: scale(0.95);
            }
        }

        .random{
            background-color: $accent-primary;
            color: $text--dark;
            border: 0;
            border-radius: 5px;
            padding: 1em 2em;
            // font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 50ms ease-in-out;

            &:hover,:focus{
                background-color: darken($color: $accent-primary, $amount: 10);
            }

            &:active{
                transform: scale(0.95);
            }

            &:disabled{
                background-color: gray;
                cursor: not-allowed;
            }
            }    
    }

    .color{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: 90%;

        .picker{
            width: 100%;
            background-color: revert;
            z-index: 10;
            background-color: none;
        }

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            .textfield {
                

                label{
                    color:$text--light;
                }
    
                div{
                    background-color: $background-element;

                    input{
                        color: $text--light;
                        font-size: 1.2rem;
                    }
                    
                    fieldset{
                        border-color: $accent-primary;
                    }
                }
            }
    
            .add{
                font-size: 2rem;
                color: $text--light;
                border: 0;
                border-radius: 5px;
                padding: 1em 2em;

                &:active{
                    transform: scale(0.95);
                }

                &:disabled{
                    background-color: gray !important;
                    color: $text--dark;
                    cursor: not-allowed;
                }
            }
        }
    }
}
