@use '../../../styles/colors.module' as *;
@use '../../../styles/breakpoints.module' as *;

.root{
    min-height: 100vh;
    overflow: hidden;
    background-color: $background-base;

    .container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(20, 1fr);

        @media (min-width:map-get($grid-breakpoints, md)) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }

        @media (min-width:map-get($grid-breakpoints, xl)) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
}

.dialog{
    background-color: $background-base--transparent;
    backdrop-filter: blur(20px);

    .diaTitle{
        font-family: 'Inter';
        color: $text--light;
        background-color: $background-nav--transparent;
    }

    .diaContext{
        font-family: 'Inter';
        color: $text--light;
        margin-bottom: 1rem;
    }

    .textfield{
        label{
            font-family: 'Inter';
            color: darken($color: $text--light, $amount: 30);
        }

         >div{
             >input{
                font-family: 'Inter';
                color: $text--light;
             }

             &::after{
                border-bottom:2px solid $accent-primary;
            }
         }
    }

    .btns{
        .cancel{
            border: 0;
            border-radius: 5px;
            font-size: 1rem;
            font-family: 'Inter';
            color: $text--light;
            background-color: $accent-secondary;
            padding: 0.5em 1em;

            &:hover,:focus{
                background-color: darken($color: $accent-secondary, $amount: 10);
            }

            &:active{
                transform: scale(0.95);
            }
        }
    
        .save{
            border: 0;
            border-radius: 5px;
            font-size: 1rem;
            font-family: 'Inter';
            color: $text--dark;
            background-color: $accent-primary;
            padding: 0.5em 1em;

            &:hover,:focus{
                background-color: darken($color: $accent-primary, $amount: 10);
            }

            &:active{
                transform: scale(0.95);
            }
        }
    }
    
}