$text--light: #FFFFFF;
$text--dark: #121212;

$accent-primary: #FF7B00;
$accent-secondary: #4B4B4B;

$background-base: #121212;
$background-nav: #1A1A1A;
$background-element:#272727;

$background-base--transparent: #12121280;
$background-nav--transparent:#1A1A1A80;
$background-element--transparent:#27272780;